<div class="carousel">
<% @item.images.each_with_index do |image, index| %>
	<a class="carousel-item" href="#<%= index %>!"><img src="<%= image.image_url %>"></a>
	<% end %>
</div>

<div class="container center">
	<h2><%= @item.title %></h2>
	<p><%= @item.description %></p>
	<p>Price: <%= @item.price %></p>
</div>