<!DOCTYPE html>
<html>
<head>
	<title>Youtilicious</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application'%>
	<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<%= csrf_meta_tags %>
</head>
<body>
	<!-- Nav Bar -->
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper ">
				<%= link_to 'Youtilicious', root_path, class: 'brand-logo center' %>
				<% if current_page?(root_path) %>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="#aboutme">About me</a></li>
					<li><a href="#samples">Work</a></li>
					<li><a href="#contactme">Contact me</a></li>
				</ul>
				<% end %>
			</div>
		</nav>
	</div>

	<%= yield %>
</body>
</html>
