<!DOCTYPE html>
<html>
<head>
	<title>Youtilicious</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<%= csrf_meta_tags %>
</head>
<body>
	<!-- Nav Bar -->


	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<%#= link_to image_tag("https://s3.amazonaws.com/youtilicious/logomobile.png", :class => "logo"), root_path %>
				<% if current_page?(root_path) %>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">=</i></a>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="#aboutme">About me</a></li>
					<li><a href="#samples">Work</a></li>
					<li><a href="#contactme">Contact me</a></li>
				</ul>
				<ul class="center hide-on-med-and-down">
					<li><a href="#aboutme">About me</a></li>
					<li><a href="#samples">Work</a></li>
					<li><a href="#contactme">Contact me</a></li>
				</ul>
				<% else %>
				<a href="<%= root_path %>" class="brand-logo center">Youtilicious</a>
				<% end %>
			</div>
		</nav>
	</div>


	<%= yield %>
	<%= javascript_include_tag 'application'%>
</body>
</html>
